* {
  margin: 0px;
  font-family: 'Nunito Sans', sans-serif;
}

.App {

  background-image: linear-gradient(#00BDF9, white);
  min-height: 100vh;
}


#root {
  margin: 0px;
}

/* .timer {
  width: 250px;
  background-color: whitesmoke;
  padding: 10px;
  margin-top: 15px;
  margin: auto;
  border: 1px solid darkblue;
  border-radius: 3px;
  margin-top: 5px;

} */

.timer1 {

  color: green;
}


.timer2 {

  color: orange;
}


.timer3 {

  color: red;
}


#start-button {
  margin: 5px;
  width: 60px;
  padding: 5px;
  outline: none;
  border-radius: 3px;
}

#start-button:hover {
  transform: scale(2) rotate(360deg);
  background-color: lightblue;
  color: white;
  transition: .5s;
  outline: none;
  border-radius: 5px;
}

button {
  outline: none;
  border-radius: 3px;
}

.gamer-container {
  background-color: whitesmoke;
  margin-right: 40px;
  margin-left: 40px;
}

#userInput {
  width: 275px;
  height: 20px;
  border: 1px solid #032147;
  border-radius: 3px;
  text-align: center;
  margin-right: 5px;

  transition: all .7s ease-in-out;
}


h1 {
  font-family: 'Lobster', cursive;
}


#userInput:focus {
  width: 500px;
  height: 20px;
}

#user-input {
  width: 80%;
  margin: auto;
  background-color: darkblue;
  color: white;
  margin-top: 15px;
}
